/* fontes */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/overpass/v7/qFda35WCmI96Ajtm83upeyoaX6QPnlo6fPPrOQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/overpass/v7/qFda35WCmI96Ajtm83upeyoaX6QPnlo6ovPrOQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/overpass/v7/qFda35WCmI96Ajtm83upeyoaX6QPnlo6IvTrOQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoC1CzTtw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgo6eA.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoCjC3Ttw.ttf) format('truetype');
}
/* resets */
body {
  margin: 0;
  padding: 0;
}
/* textos */
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3 {
  font-family: 'Overpass', sans-serif;
}
/* componentes */
header {
  background: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  border-bottom-left-radius: 100px;
}
header .menu {
  color: white;
  padding: 25px;
  padding-left: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .title {
  text-align: center;
  color: white;
  font-size: x-large;
  padding-bottom: 40px;
}
header .title p {
  font-size: medium;
}
header .title a {
  font-size: medium;
}
section {
  padding: 5rem;
}
.section__intro {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.section__intro h1 {
  text-align: center;
}
.section__intro .intro__container {
  display: flex;
  flex-direction: column;
}
.section__intro .intro__container .container--img {
  order: 1;
  max-width: 500px;
}
.section__intro .intro__container .container--img img {
  width: 100%;
}
.section__intro .intro__container .container--text {
  order: 2;
  width: 50%;
}
.section__state {
  background: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  color: white;
}
footer {
  padding: 4rem;
  padding-left: 10rem;
  padding-right: 15rem;
  background-color: hsl(240, 10%, 16%);
  border-top-right-radius: 100px;
  color: white;
  font-family: 'overpass', sans-serif;
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
footer .ul {
  display: flex;
  flex-direction: column;
}
