/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;600&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

/* textos */
body {
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Overpass', sans-serif;
}

/* componentes */
header {
    background: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    border-bottom-left-radius: 100px;
    .menu {
        color: white;
        padding: 25px;
        padding-left: 10rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        }
   
    .title {
        text-align: center;
        color: white;
        font-size: x-large;
        padding-bottom: 40px;

        p {
            font-size: medium;
        }

        a {
            font-size: medium;
        }
    }
}

section {
    padding: 5rem;
}

.section__intro {
    h1 {
        text-align: center;
    }
}
.section__state {
    background: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    color: white;
    }

footer {
    padding: 4rem;
    padding-left: 10rem;
    padding-right: 15rem;

    background-color: hsl(240, 10%, 16%);
    border-top-right-radius: 100px;
    
    color: white;
    font-family: 'overpass', sans-serif;
    font-size: small;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
    .ul {
        display: flex;
        flex-direction: column;
    }
}